<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sbn.member.mapper.MemberMapper">

	<!-- getLogin -->
  <select id="getMemberById" resultType="com.sbn.member.dto.MemberDto">
  
  SELECT MEMBER_IDX,
				 MEMBER_ID,
				 PASSWORD,
				 MEMBER_NAME,
				 BIRTH,
				 EMAIL,
				 PHONE_NUM,
				 ADDRESS,
				 ELITE,
				 USE_HAND,
				 HOPE_POSITION,
				 MEMBER_REGDATE
  FROM   MEMBER
  WHERE  MEMBER_ID = LOWER(#{member_id})
  
  </select>
  
  <!-- getMemberList -->
<select id="getMemberList" resultType="com.sbn.member.dto.MemberDto">
    SELECT DISTINCT
           M.MEMBER_IDX    MEMBER_IDX,
           M.MEMBER_ID     MEMBER_ID,
           M.MEMBER_NAME   MEMBER_NAME,
           M.BIRTH         BIRTH,
           M.EMAIL         EMAIL,
           M.PHONE_NUM     PHONE_NUM,
           M.ADDRESS       ADDRESS,
           M.ELITE         ELITE,
           M.USE_HAND      USE_HAND,
           M.HOPE_POSITION HOPE_POSITION,
           M.MEMBER_REGDATE MEMBER_REGDATE
    FROM   MEMBER M
    LEFT JOIN MEMBER_TEAM MT ON M.MEMBER_IDX = MT.MEMBER_IDX
    LEFT JOIN TEAM T          ON MT.TEAM_IDX  = T.TEAM_IDX
                              AND MT.JOIN_STATUS = 1
    <where>
        <if test="searchType == 'member_name' and keyword != null and keyword != ''">
            AND LOWER(M.MEMBER_NAME) LIKE '%' || LOWER(#{keyword}) || '%'
        </if>
        <if test="searchType == 'team_name' and keyword != null and keyword != ''">
            AND LOWER(T.TEAM_NAME) LIKE '%' || LOWER(#{keyword}) || '%'
        </if>
    </where>
    ORDER BY M.MEMBER_IDX
</select>

<insert id="insertMember">



</insert>
  
</mapper>
