<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sbn.member.mapper.MemberMapper">

	<!-- getLogin -->
  <select id="getLogin">
  
  SELECT MEMBER_IDX,
				 MEMBER_ID,
				 PASSWORD,
				 MEMBER_NAME,
				 BIRTH,
				 EMAIL,
				 PHONE_NUM,
				 ADDRESS,
				 ELITE,
				 USE_HAND,
				 HOPE_POSITION,
				 MEMBER_REGDATE
  FROM   MEMBER
  WHERE  MEMBER_ID = LOWER(#{member_id})
    AND  PASSWORD  = #{password}
  
  </select>
  
</mapper>
